@import '../../../styles/variables';

.dialog {
  width: 550px;

  &__list {
    padding: 0;
  }

  &__item {
    display: flex;
    padding: 0 15px;
    border-bottom: 1px solid $separator-common;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all .1s linear;

    &.active {
      background: darken(#fff, 10);
    }

    &:hover {
      background: darken(#fff, 10);
    }
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 11px 14px 7px 0;
  }

  &__data {
    padding: 10px 0;
    flex: 1 0 auto;
  }

  &__name {
    color: $text-color-primary;
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;

  }
}