.profile {
  display: grid;
  grid-template: "s c";
  grid-template-rows: 100px;
  grid-template-columns: 2fr 10fr;


  background: #000;

  &__sidebar {
    grid-area: s;
    background: yellow;
  }

  &__content {
    gird-area: c;
    background: pink;
  }
}

