@import "../../../styles/variables";

.input {
    padding: 6px 12px 8px;
    margin: 0 5px 15px 0;
    border: 1px solid $grey-100;

    &__error {
        font-size: .9rem;
        color: red;
    }

    &:focus {
        outline: none;

    }

    &:focus::-webkit-input-placeholder {
        color: $grey-100;
    }
}