@import "./variables";

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 46px;
  padding: 10px 15px;

  font-size: 16px;
  color: $text-color-primary;
  border-bottom: 1px solid $separator-common;

  &__header {
    font-weight: normal
  }

  &__amount {
    margin: 0 0 0 7px;
    color: $gray-400;
  }
}

.emptyBlock {
  padding: 30px 50px;
  text-align: center;
  color: $gray-400;

  &__title {
    margin-bottom: 20px;
  }

  &__icon {
    color: #000;
    font-size: 1.1rem;
  }
}

.input {
  width: 100%;
  padding: 6px 12px 8px;
  margin: 0 5px 15px 0;
  border-radius: $border-radius;
  border: 1px solid $gray-100;


  &:focus {
    outline: none;
  }

  &:focus::-webkit-input-placeholder {
    color: $gray-100
  }

}