//colors
$primary: #2787F5;
$white: #FFF;
$background: #EDEEF0;
$background-hover: #F5F6F7;
$background-highlighted: rgba(174, 183, 194, 0.16);
$background-popup: rgba(0,0,0,0.6);
$chili: #C21807;
$separator-common: #DCE1E6;
$separator-alternate: #E7E8EC;
$text-color-primary: #000;
$text-color-secondary: #818C99;
$text-color-subhead: #626D7A;
$text-link: #2A5885;
$button-secondary-text: #55677D;
$button-primary-text: #FFF;
$button-primary-bg: #5181b8;
$button-secondary-bg: #E5EBF1;
$gray-100: #DCE1E6;
$gray-400: #939393;
$steel-gray: #FAFBFC;
$blue-400: #5181B8;
$blue-600: #2A5885;
$red-liked: #ff3347;
$accent: #5181B8;
$icon-tertiary: #AEB7C2;
$page-block-shadow: 0 1px 0 0 $separator-common,
0 0 0 1px $separator-alternate;

//breakpoints
$sm: 600px;
$md: 900px;
$lg: 1200px;

//sizes
$border-radius: 4px;
$width-content: 550px;


