//colors
$white: #fff;
$background: #EDEEF0;
$separator: #e7e8ec;
$text-color-primary: #000;
$text-color-subhead: #626d7a;
$text-link: #2a5885;
$button-secondary-text: #55677d;
$button-primary-text: #fff;
$button-primary-bg: #2787F5;
$button-secondary-bg: #E5EBF1;
$grey-400: #939393;


//breakpoints
$sm: 600px;
$md: 900px;
$lg: 1200px;

//sizes
$border-radius: 4px;

:export {
  white: $white;
  background: $background;
  seporator:$separator;
  borderRadius: $border-radius;
}
