@import '../../styles/variables';

.dialog {
  display: grid;
  grid-template-columns: 2fr 10fr;

  &__list {
    margin-left: -15px;
    padding: 0 15px 0 0;

  }

  &__item {
    padding: 7px 15px;
    border-radius: $border-radius;
    cursor: pointer;

    &.active {
      background: darken(#fff, 5);
    }

    &:hover {
      background: darken(#fff, 5);
    }
  }
}