.avatar {

  &__image{
    display: block;
    width: 200px;
    height: 200px;

    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;

    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 10px;
  }
}