@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: .5rem 0;
  background: $white;
  border-bottom: 1px solid $separator-common;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  font-weight: bold;
  color: $white;
  background: #2787F5;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

