@import "../../styles/variables";

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 46px;
  padding: 10px 15px;
  margin: -15px -15px 0;
  font-size: 16px;
  color: $text-color-primary;
  border-bottom: 1px solid $separator-common;

  h4 {
    font-weight: normal
  }
}

.emptyBlock {
  padding: 30px 50px;
  text-align: center;
  color: $grey-400;
}