@import "../../styles/variables";

.menu {
  padding: 10px;

  &__item {
    display: block;
    background: $background;
    padding: 7px 10px;
    border-radius: $border-radius;
    margin: 0 -10px;

    &_active {
      background: darken($background, 5);
    }

    &:hover {
      background: darken($background, 5);
    }


  }
}

