@import "../../styles/variables";

.menu {
  padding: 10px;

  &__item {
    display: flex;
    align-items: center;
    background: $background;
    padding: 8px 10px;
    border-radius: $border-radius;
    margin: 0 -10px;
    white-space: nowrap;

    &_active {
      background: $background-highlighted;
    }

    &:hover {
      background: $background-highlighted;
    }
  }

  &__icon {
    font-size: 16px;
    color: $accent;
    margin: 0 15px 0 0;
  }

}

