@import "../../../../styles/variables";

.friend {
  position: relative;
  display: flex;
  padding: 15px 0;

  &:after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.5);
    z-index: 1;
  }

  &.unfollowed:after {
    display: block;
  }

  & + & {
    border-top: 1px solid $separator-alternate;
  }

  &__avatar {
    flex: 0 0 80px;
    width: 80px;
    height: 80px;
    margin: 0 20px 0 0;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 1 1 auto;
  }

  &__name {
    width: fit-content;
    margin: 0 0 7px 0;
    color: $text-link;
    font-weight: 700;
  }

  &__status {
    max-height: 30px;
    overflow: hidden;
    margin: 0 0 10px 0;
  }

  &__message {
    width: fit-content;
    color: $text-link;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__dots {
    z-index: 10;
  }

  &__icon {
    position: relative;
    padding: 0 0 5px 10px;
    height: fit-content;
    color: $icon-tertiary;

    &:hover {
      cursor: pointer;

      .menu {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }

    }

  }

  &__cancel {
    color: $text-link;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.menu {
  cursor: default;
  transform: translateY(10px);
  visibility: hidden;
  opacity: 0;


  &__triangle {
    position: absolute;
    bottom: calc(100% + 1px);
    right: 25px;
    width: 22px;
    height: 10px;

    &::after {
      position:absolute;
      content:"";
      width: 0;
      height: 0;
      margin-top:1px;
      margin-left:1px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
    }

    &::before {
      position:absolute;
      content:"";
      width: 0;
      height: 0;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-bottom: 11px solid $separator-alternate;
    }
  }

  &__item {
    display: block;
    padding: 7px 15px;
    color: #000;
    font-size: 1rem;
    transition: background-color 200ms linear;
    white-space: nowrap;
    cursor: pointer;

    & + & {
      border-top: 1px solid $separator-alternate;
    }

    &:hover {
      background: $background-highlighted;
    }
  }

}


