@import "../../../styles/variables";

.create {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 30px;
  border-top: 1px solid $separator-common;
  background: #FAFBFC;

  &__form {

  }

  &__input {
    line-height: 2;
    width: 100%;
    padding: 5px 10px;
    border: 0;
    border-radius: $border-radius;
    box-shadow: $page-block-shadow;

    &:focus::placeholder {
      color: #bfb8b8;
    }

    &:focus {
      outline: none;
    }
  }
}